@model IEnumerable<Buffet.Models.Guest>

@{
    ViewData["Title"] = "Resturant";
}

<h1>Resturant</h1>
<h2>Reservations Today @DateTime.Today.Day-@DateTime.Today.Month-@DateTime.Today.Year</h2>

<table class="table" tyle="height: 100%; width: 100%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Date.Date == DateTime.Today.Date)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgeStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Checked)
                    </td>
                    <td>
                        <form asp-action="Resturant">
                            <div class="form-group">
                                <input type="submit" asp-route-id="@item.GuestId" value="Check In" class="btn btn-primary" />
                            </div>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
